body{
   background: Linen;
   margin-top: 50px;
   margin-left: 100px;
}

h1{
font-family:Verdana, Geneva, sans-serif;
font-size: 2.5em;
color: FireBrick;
}

p{
font-family: Georgia, Serif;
font-size: 1.2em;
color: DarkSlateGray;
}

table, th, td {
  border: 1px solid black;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  padding: 1rem 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #575757;
}


section {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

p {
  color: #666;
  font-size: 18px;
}
